.carousel, img{
    width: 100%;
    height: 600px;
}
.carousel{ 
    position:relative;
}
ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
}
  
ngb-carousel .wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


#slide1-caption{
    position:absolute;
    right:50%;
    bottom:20px;
    left:0%;
    padding-top:0px;
    padding-bottom:420px;
    color:#fff;
    text-align:center;

}