<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class = "parallax">
  <div id = "work" class="container-fluid mt-4" style="padding-top:85px; padding-bottom: 290px">
    <div class="roomtable row">
      <div class="col">
        
        <img src="../../assets/room-images/bedroom1.jpeg" class = "img2" >
        <img src="../../assets/room-images/bedrooom2.jpeg">
      </div>
      <div class="col" style = "padding-top: 100px; right: 30px">
        <h1>About our Rooms</h1>
        <br>
        <p>You will have at your disposal a television with digital channels, as well as free Wi-Fi to keep you always up to date. The bathrooms have a hairdryer and free toiletries. Limited cleaning service. <br><br>
        <a routerLink = "/rooms"><button>Read more</button></a></p>
      </div>
    </div>
  </div>
</div>