<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="about-us.component.css">
        <script src="../../assets/about-us-map/map.js"></script>
    </head> 
    <body>
        <!--  main img -->
        <div class="parallax">
            <div class = "blur">
            <!--  text -->
            <div class = "banner">
                <div class = "main-txt">
                    <h1>Welcome to Matum Hotel & Casino</h1>
                    <br>
                    <p>The hotel for your vacations in Santiago de los Caballeros.</p>
                </div>
            </div>
            </div>
        </div>
        <!--short description of the hotel-->
        <div class="container-fluid mt-4" style="padding-top: 50px; padding-left: 100px; padding-bottom: 70px">
            <div class="row">
              <div class="col" style = "padding-top: 60px;">
                <h1>About the Location</h1>
                <br>
                <p>Matum Hotel & Casino is located in the beautiful city of Santiago de los Caballeros. Just 30 minutes from the Cibao International Airport.</p>
                <p>In the hotel surroundings you will find places of interest such as the Santiago Monument, The Restoration Heroes Museum, The Fort of San Luis Historic Museum, and Gran Teatro del Cibao. Also nearby are the Santiago Cathedral and the Hermanos Patiño Bridge.</p>
              </div>
              <div class="col">
                <img src = "../../assets/about-us-images/sightseeing1.jpeg" class = "ss1">
                <img src = "../../assets/about-us-images/sightseeing2.jpeg" class = "ss2">
              </div>
            </div>
          </div>
        <!--Location details-->
        <div class="container-fluid mt-4" style="padding-top: 50px; padding-left: 100px; padding-bottom: 150px">
            <div class="row">
                <div class="col">
                    <img src = "../../assets/about-us-images/map.png" style = "height: 400px; width: 600px;">
                </div>
            <div class="col" style = "padding-top: 90px;">
              <h1>Where to Find Us</h1>
              <br>
                <p style="padding-right: 30px;">Av. Las Carreras 1, Santiago De Los Caballeros 51000.</p>
                <p style="padding-right: 30px;">A 5-minute walk from the Monumento a los Héroes de la Restauración and only 30 minutes away from the Cibao International Airport.</p>
              </div>
            </div>
          </div>
    </body>
</html>