<header class="sticky">
    <div class="nav-container">
        <div class="nav-bar">
            <nav class="navbar navbar-expand navbar-nav">
                <div class="navbar-nav" >
                    <ul>
                        <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
                        <li><a class="nav-item nav-link" routerLink="/rooms">Rooms</a></li>
                        <li><a class="nav-item nav-link" routerLink="/book">Book</a></li>
                        <li><a class="nav-item nav-link" routerLink="/about-us">About Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div> 
</header> 
