.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-container {
    width: 100%;
    height: 100%;
    background-color:#3339ab;
    overflow: hidden;
}
.nav-bar{
    text-align: center;
    margin: auto;
    width: 50%;
}
.nav-bar ul{
    display: inline-flex;
}
.nav-bar li{
    list-style: none;
    margin: 0 50px -10px;
    cursor: pointer;
}
.nav-bar li:hover{
    color: #8ea8fd;
}

a {
    text-decoration:none;
    color: #FFFFFF;
}
a:hover{
  color: #8ea8fd;
}
