<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="book.component.css">
</head> 
<body>
    <div class="parallax">
        <div class = "blur">
            <div class = "banner">
                <div class = "main-txt">
                    <h1 class="tittle">Make a Reservation</h1>
                </div>
            </div>
        </div>
    </div>

    <!--date time picker-->
    <div>
        <app-date-time-picker></app-date-time-picker>
    </div>

    <!--Options for rooms/Rooms infor-->
    <div class="subtxt">
        <h1 class="room">Choose Room</h1>
    </div>
    <div class = "spacing"> 
        <div class="row">
            <div class="col">
                <h6>Presidential Suite</h6>
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/8f/2a/42/habitacion-junior-suite.jpg?w=1200&h=-1&s=1">
                <h6>Maximum 8 guests</h6>
                <h6>1 King bed and 2 large double beds</h6>
            </div>
            <div class="col">
                <h6>Junior Suite</h6>
                <img src="https://exp.cdn-hotels.com/hotels/2000000/1700000/1695100/1695094/a65b8960_z.jpg?impolicy=fcrop&w=1000&h=666&q=medium">
                <h6>Maximum 6 guests</h6>
                <h6>2 double beds</h6>
            </div>
            <div class="col">
                <h6>Superior Executive Room</h6>
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/8f/2a/41/habitacion-ejecutiva.jpg?w=1200&h=-1&s=1">
                <h6>Maximum 3 guests</h6>
                <h6>1 Queen bed</h6>
            </div>
            <div class="col">
                <h6>Deluxe Junior Suite</h6>
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/07/fc/04/fd/matum-hotel-casino.jpg?w=1000&h=-1&s=1">
                <h6>Maximum 6 guests</h6>
                <h6>2 Queen Bed</h6>
            </div>
        </div>
    </div>
</body>