<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="rooms.component.css">
</head> 
<body>
  <!--  main img -->
  <div class="parallax">
    <div class = "blur">
    <!--  text -->
      <div class = "banner">
          <div class = "main-txt">
            <h1>Explore our Rooms</h1>
            <br>
            <p>Matum Hotel & Casino offers a variety of cozy rooms for your stay in Santiago.</p>
          </div>
        </div>
      </div>
    </div>
<div>

<div class="w3-row-padding" style = "padding-top: 80px;">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <div class="w3-display-bottomleft w3-black w3-padding">Presidential Suite</div>
      <img src="../../assets/room-images/presidential.jpeg" alt="Presidential Suite" style="width:100%; height: 280px">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <div class="w3-display-bottomleft w3-black w3-padding">Junior Suite</div>
      <img src="../../assets/room-images/junior-deluxe.jpeg" alt="Junior Suite" style="width:100%; height: 280px">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <div class="w3-display-bottomleft w3-black w3-padding">Superior Executive Room</div>
      <img src="../../assets/carousel-images/carousel2.jpg" alt="Superior Executive Room" style="width:100%; height: 280px">
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <div class="w3-display-bottomleft w3-black w3-padding">Deluxe Junior Suite</div>
      <img src="../../assets/room-images/three.jpeg" alt="Deluxe Junior Suite" style="width:100%; height: 280px">
    </div>
  </div>
</div>
<!--descriptions-->
<div class="w3-row-padding" style="padding-top:10px;">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <h4>What does it offer?</h4>
      <p>1 extra-large double bed or 2 large double beds</p>
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <h4>What does it offer?</h4>
      <p>2 double beds</p>
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <h4>What does it offer?</h4>
      <p>1 large double bed</p>
      </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-display-container">
      <h4>What does it offer?</h4>
      <p>2 large double beds</p>
    </div>
  </div>
</div>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class = "offering">
  <div id = "work" class="container-fluid mt-4" style="padding-top:60px; padding-bottom: 200px">
    <div class="roomtable row">
      <div class="col">
        <img src="../../assets/room-images/gym.jpeg" class = "img2" >
      </div>
      <div class="col" style = "padding-top: 100px; right: 30px">
        <h1>Hotel Amenities</h1>
        <br>
        <p style="font-size: 18px;">By staying at Matum Hotel & Casino you'll be able to enjoy a private pool and gym. Additionally, each room comes equipped with air conditioning, free WiFi, a mini-bar and fridge, a microwave, a flatscreen TV, private bathrooms, and free parking. 
        <br><br>
        <a routerLink = "/book"><button>Book Now!</button></a></p>
      </div>
    </div>
  </div>
</div>